// * {
//   outline: 2px red solid;
// }

body {
  margin: 0;
}
/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                          nav
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
a {
  text-decoration: none;
  transition: 0.3s;
}

@mixin burgerSpan {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.navburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em;
  background: #2d303a;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logotype {
  font-family: sans-serif;
  font-size: 36px;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 48em) {
    nav {
      display: inline;
    }
  }
}

.menu__box {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  @media screen and (max-width: 48em) {
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 15em;
    margin: -600px 0 0 0;
    padding: 0.6em 0;
    text-align: center;
    background-color: #2d303a;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition-duration: 0.5s;
  }
}

.red {
  color: #f06c64;
}

.menu__item {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1.9em;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (max-width: 48em) {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    transition-duration: 0.5s;

    &:hover {
      background-color: #4f5464;
    }
  }
}

#menu__toggle {
  opacity: 0;

  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background: #f06c64;
  }

  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background: #f06c64;
  }

  &:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    margin: 0;
  }
}

.menu__btn {
  transition-duration: 0.25s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;

  span {
    @include burgerSpan;

    &::before {
      @include burgerSpan;
      content: "";
      top: -8px;
      transition-duration: 0.25s;
    }

    &::after {
      @include burgerSpan;
      content: "";
      top: 8px;
      transition-duration: 0.25s;
    }
  }

  @media screen and (min-width: 48.01em) {
    display: none;
  }
}

/**********************************************************************
                            form
**********************************************************************/

$primary-color: #50ceae;
$primary-shadow-color: #40a58c;
$secondary-color: #eaedf2d8;
$border-color: #ddd;
$media-query-breakpoint: 579px;

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 16px;

  @media screen and (max-width: $media-query-breakpoint) {
    margin-top: 40px;
  }
}

.Form-Item {
  border-top: 1px solid $border-color;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: $media-query-breakpoint) {
    // padding-left: 14px;
    // padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

.Form-Item:nth-child(5) {
  border-bottom: 1px solid $border-color;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;

  @media screen and (max-width: $media-query-breakpoint) {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;

  @media screen and (max-width: $media-query-breakpoint) {
    margin-top: 0;
  }
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: $primary-color;
  color: #fff;
  font-size: 14px;

  @media screen and (max-width: $media-query-breakpoint) {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

.Form-Item-Input {
  border: 1px solid $border-color;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 600px;
  background: $secondary-color;
  font-size: 18px;

  @media screen and (max-width: $media-query-breakpoint) {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

.Form-Item-Textarea {
  border: 1px solid $border-color;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 800px;
  background: $secondary-color;
  font-size: 18px;

  @media screen and (max-width: $media-query-breakpoint) {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

.btn-slip {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 4px;
  background-color: $primary-color;
  box-shadow: 0px 2px 2px 1px $secondary-color;
  border-bottom: solid 5px $primary-shadow-color;
  text-decoration: none;
  color: #fff;
}

.btn-slip:active {
  box-shadow: none;
  position: relative;
  border-bottom: none;
  top: 7px;
}

.send {
  text-align: center;
  margin: 8px;
}

header {
  width: 100%;
  height: 100px;
}
