:root {
  /*""color""*/
  --base-color: #ffffff;
  --main-color: #e2e2e2;
  --contrast-color: #1b1b1b;
  --accent-color: #26a69a;
  --phonto-black-color: #1b1b1b;
  --phonto-white-color: #cccccc;
  /*""phontosize""*/
  --normal-size: 16px;
  --important-size: 20px;
  --title-size: 28px;
  --main-title-size: 36px;
  --fade-in-title-size: 96px;

  --vw: 1vw;
}

/* *{
  outline: 2px red solid;
} */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
  color: var(--phonto-black-color);
  width: calc(var(--vw) * 100);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        header
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
header {
  position: relative;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                video
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.hero-video {
  position: relative;
  width: auto;
  height: auto;
  overflow: hidden;
}

.hero-video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
  background-size: 4px 4px;
  background-position:
    0 0,
    2px 2px;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                fadeIn
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: var(--fade-in-title-size);
  z-index: 1;
  color: var(--phonto-white-color);
  padding-left: 20px;
  padding-bottom: 20px;
  display: inline-block;
  background: linear-gradient(0deg, #000000, #777777, #dddddd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                top-bar
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.scroll-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  background-color: var(--accent-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity 350ms ease;
}

.scroll-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

.is-hide {
  pointer-events: none;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                nav
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
@mixin burgerSpan {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.navburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4em;
  background: #2d303a00;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logotype {
  font-family: sans-serif;
  font-size: 24px;
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 48em) {
    nav {
      display: inline;
    }
  }
}

.menu__box {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  @media screen and (max-width: 48em) {
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 15em;
    margin: -600px 0 0 0;
    padding: 0.6em 0;
    text-align: center;
    background-color: #2d303a;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition-duration: 0.5s;
  }
}

.red {
  color: #f06c64;
}

.menu__item {
  display: flex;
  flex-direction: column;
  padding: 0 1em 0 1.9em;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (max-width: 48em) {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 18px;
    transition-duration: 0.5s;

    &:hover {
      background-color: #4f5464;
    }
  }
}

#menu__toggle {
  opacity: 0;

  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background: #f06c64;
  }

  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background: #f06c64;
  }

  &:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    margin: 0;
  }
}

.menu__btn {
  transition-duration: 0.25s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;

  span {
    @include burgerSpan;

    &::before {
      @include burgerSpan;
      content: "";
      top: -8px;
      transition-duration: 0.25s;
    }

    &::after {
      @include burgerSpan;
      content: "";
      top: 8px;
      transition-duration: 0.25s;
    }
  }

  @media screen and (min-width: 48em) {
    display: none;
  }
}
/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        main
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: var(--title-size);
  display: block;
  margin: 64px;
}

h3 {
  font-size: var(--title-size);
  padding: 4px;
}

p {
  font-size: var(--important-size);
  padding: 4px;
  margin-top: 8px;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                               greeting 
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 64px;
  width: 100%;
  background-color: var(--contrast-color);
  color: var(--phonto-white-color);
}

.circle-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 32px;
  margin-bottom: 32px;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                youtube-contents
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

.main-title {
  margin: 64px 0 32px;
}

.youtube-contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 64px;
}

.youtube-contents iframe {
  width: 40%;
  height: 40%;
  aspect-ratio: 16 / 9;
  margin: 0 8px;
}

@media screen and (max-width: 800px) {
  .youtube-contents iframe {
    width: 100%;
    height: 100%;
    margin: 8px 0;
  }
}

.sub-contents {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  text-align: center;
  padding: 16px 0;
}

.sub-contents .main-title {
  margin-top: 32px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.box-content {
  width: 15vmax;
  height: 15vmax;
  aspect-ratio: 1;
  background-color: var(--base-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .box-content {
    width: 50vmin;
    height: 50vmin;
  }
}

.sample-image {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.triangle {
  background: var(--base-color);
  height: 60px;
  width: calc(60px / 2 * tan(60deg));
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  margin: 16px;
}

@media screen and (max-width: 800px) {
  .box-container {
    flex-direction: column;
    align-items: center;
  }

  .triangle {
    height: calc(60px / 2 * tan(60deg));
    width: 60px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        service
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;

  h2 {
    font-size: 36px;
    padding: 8px;
  }
}

.container {
  display: flex;
  width: 80%;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .triangle {
    background: var(--main-color);
    margin: 0 auto;
    height: calc(60px / 2 * tan(60deg));
    width: 60px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  p {
    text-align: center;
    font-size: 24px;
  }
}

.want {
  display: flex;
  align-items: center;
  justify-content: center;
  border: double 5px #33cccc;
  padding: 16px;
  margin: 8px;

  @media screen and (max-width:470px) {
    flex-direction: column;

  }

  p{
    display: block;
    width: auto;
    font-size: 28px;
  }

  img {
    display: block;
    width: 100px;
  }
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        footer
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

.footer {
  padding: 2rem;
  font-size: var(--normal-size);
  color: #999;
  background: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  color: var(--phonto-black-color);
}

.flex {
  display: flex;
}

.footer hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer__navi li {
  display: inline-block;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}
