:root {
  /*""color""*/
  --background-color: #f1f4f7;
  --main-color: #ffffff;
  /*""phontosize""*/
  --normal-size: 12px;
  --important-size: 16px; 
  --title-size: 28px;
  --main-title-size:36px;
}

body {
  display: flex;
  flex-flow: column;
}



/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        header
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/* header{
  position: relative;
}  */

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                video
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                nav
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/


/* ナビゲーションバーのスタイリング。幅、マージン、背景色、パディング、ボックスシャドウを設定します。 */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: var(background-color);
  padding: 16px 0;
}

/* ナビゲーション内のリストのスタイリング。リストスタイルを無しにし、テキストを中央揃えにします。 */
nav ul {
  list-style: none;
  text-align: right;
}

/* ナビゲーション内のリストアイテムのスタイリング。インラインブロックで表示し、リンクにはパディング、デコレーション、色、フォントの重さ、テキストの変形を適用します。 */
nav ul li {
  display: inline-block;
  font-size: 24px;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

#logo {
  height: 8vh;
  padding: 0;
  margin: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

/* リンクにホバーした時の色の変更と、アフターエフェクトのトランジションを設定します。 */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}

/* "shift"クラスが適用されたナビゲーションバーのリンクのホバーエフェクトのスタイル。 */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: #91640F;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
                                                        main
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title{
  font-size: var(--title-size);
  display: block;
  margin: 64px;
}

.youtube-contents{
  display: flex;
  flex-direction: row;
}

.youtube-contents iframe{
  margin: 40px;
  margin-top: 0px;
}


.sub-contents{
  width: 100%;
  height: 50%;
  background-color:var(--background-color);
  text-align: center;
}

.box-container{
  display: flex;
  justify-content: center;
}

.box-content{
  width: 300px;
  height: 300px;
  background-color: var(--main-color);
  margin: 20px;
}

